body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFEFD5; /* Light orange background */
}

h2 {
    text-align: center;
    padding: 20px;
    color: #333;
}

p {
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar,
.get-requests {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar-brand {
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}
.get-requests {
    min-width: 30%;
}
.get-requests li {
    margin-left: 10px;
    list-style-type: none;
}

.get-requests li a {
    text-decoration: none;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 10px;
}

.get-requests li a:hover {
    background-color: #444;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-container,
.response-container {
    max-width: 90%;
    margin: 1rem auto;
}



form {
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(204, 102, 0, 0.7); /* Dark orange shadow */
}

/* .section-div,
.supplier-section-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-div,
.supplier-form-div {
    min-width: 30%;
    margin: 0;
} */

.dropdown-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

label {
    color: #555;
}

input[type="text"],
select[type="text"] {

    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease; /* Smooth transition */
    width: 100%;
    box-sizing: border-box; /* Include padding and border in width calculation */
}

input[type="text"]:focus {
    box-shadow: 0 0 5px #FF8C00; /* Orange shadow when focused */
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}

.response-box {
    min-width: 75%;
    margin: 2rem auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    display: none;
}

.response-box p {
    margin: 0;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.btn,
#toggle_supplier_btn  {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #444;
}

#toggle_supplier_btn {
    background-color: #ccc;
    color: black;
    margin: 0 2rem;
}


.checkbox-div {
    margin: 1rem 0;
}
#discountable[type="checkbox"], 
#track_inventory[type="checkbox"], 
#price_changable[type="checkbox"] {
    transform: scale(1.5);
    margin: 0 1rem;
    }

.submit-div {
    margin-top: 2rem;
}

.tag-inputAndButton {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 0;
}


.section-div,
.supplier-section-div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
}

.form-div,
.supplier-form-div {
  margin: 0;
}

/* Media Query for Large screens */
@media screen and (min-width: 1200px) {
  .section-div,
  .supplier-section-div {
    grid-template-columns: repeat(12, 1fr);
  }

  .form-div,
  .supplier-form-div {
    grid-column: span 4;
  }
}

/* Media Query for Medium screens */
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .section-div,
  .supplier-section-div {
    grid-template-columns: repeat(8, 1fr);
  }

  .form-div,
  .supplier-form-div {
    grid-column: span 4;
  }
}

/* Media Query for Small screens */
@media screen and (max-width: 767px) {
  .section-div,
  .supplier-section-div {
    grid-template-columns: repeat(8, 1fr);
  }

  .form-div,
  .supplier-form-div {
    grid-column: span 8;
  }
}

